
.single-page-template
{
    h1,h2 {
        color: $primary;    
        font-size: 25px;
        font-weight: bold;
    }
    h1 {
        margin: 0px;
    }
    .publish-date {
        span {
            color: $secondary;
            font-weight: bold;
        }
    }
    .post-featureimage {
        img {
            width: 100%;
            height: auto;
        }
    }
    .recent-popular-post {
        clear: both;
        img {
            float: left;
            width: 80px;
            margin-right: 10px;
            margin-bottom: 10px;
            height: 80px;
            border-radius: 50%;
        }
        p {
            font-weight: bold;
            color: $secondary;
            font-size: 20px;
        }
    }
}
